<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
>
        <security:http pattern="/*.html" security="none"/>
        <security:http pattern="/css/**" security="none"/>
        <security:http pattern="/img/**" security="none"/>
        <security:http pattern="/js/**" security="none"/>
        <security:http pattern="/plugins/**" security="none"/>
        <security:http pattern="/seller/save" security="none"/>
        <security:http pattern="/verify" security="none"/>
        <security:http entry-point-ref="authenticationEntryPoint">
            <security:intercept-url pattern="/login" access="permitAll()"/>
            <security:intercept-url pattern="/**" access="hasRole('SELLER')"/>
            <!--配置开启表单登录-->
            <security:form-login
                login-page="/shoplogin.html"
                default-target-url="/admin/index.html"
                always-use-default-target="true"
                authentication-failure-url="/shoplogin.html"/>
            <!--配置跨站请求伪造不可用-->
            <security:csrf disabled="true"/>
            <!--配置头信息,指定框架页策略(iframe子窗口也可以访问)-->
            <security:headers>
                <security:frame-options policy="SAMEORIGIN"/>
            </security:headers>
            <security:logout logout-url="/loginout"/>
        </security:http>

    <!-- 配置认证入口 -->
    <bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <!-- 登录表单请求的地址-->
        <constructor-arg name="loginFormUrl" value="/login"/>
    </bean>

    <!--配置认证管理器-->
    <security:authentication-manager id="authenticationManager">
        <!--配置认证提供者-->
        <security:authentication-provider user-service-ref="userDetailsService">
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <dubbo:application name="pinyougou-shop-web"/>
    <dubbo:registry address="zookeeper://192.168.12.131:2181"/>
    <dubbo:reference id="sellerService" interface="com.pinyougou.service.SellerService"/>
    <bean id="userDetailsService" class="com.pinyougou.shop.service.UserDetailsServiceImpl">
        <property name="sellerService" ref="sellerService"/>
    </bean>


</beans>