<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!--################ 配置请求URL拦截规则 ###############-->
    <!-- 配置哪些URL不需要拦截 -->
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <security:http pattern="/register.html" security="none"/>
    <security:http pattern="/user/save" security="none"/>
    <security:http pattern="/user/sendSmsCode" security="none"/>


    <!-- 配置哪些URL需要拦截
        entry-point-ref: 认证入口
     -->
    <security:http entry-point-ref="casAuthenticationEntryPoint">
        <!-- 配置哪些请求URL需要拦截，用什么角色或权限访问 -->
        <security:intercept-url pattern="/**" access="hasRole('USER')"/>
        <!-- 关闭跨站请求伪造 CSRF -->
        <security:csrf disabled="true"/>

        <!-- 配置相应的过滤器链(对请求地址进行过滤)
           position 表示将过滤器放在指定的位置上
           before 表示放在指定位置之前
           after 表示放在指定的位置之后
        -->
        <security:custom-filter ref="casAuthenticationFilter"
                                position="CAS_FILTER"/>
        <!-- SpringSecurtiy退出过滤器 -->
        <security:custom-filter ref="logoutFilter" before="LOGOUT_FILTER"/>
        <!-- CAS单点退出过滤器 -->
        <security:custom-filter ref="singleSignOutFilter" before="CAS_FILTER"/>

    </security:http>

    <!-- 配置CAS作为认证的入口 -->
    <bean id="casAuthenticationEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
        <!-- CAS服务端登录的URL -->
        <property name="loginUrl" value="http://sso.pinyougou.com/login"/>
        <!-- 服务属性(配置service参数) -->
        <property name="serviceProperties" ref="serviceProperties"/>
    </bean>

    <!-- 配置服务属性 -->
    <bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
        <!-- 配置重定向回来的URL(需要进到SpringSecurity的CAS_FILTER) -->
        <property name="service" value="http://user.pinyougou.com/login"/>
    </bean>

    <!-- 配置CAS认证过滤器(拦截从CAS服务端重定向回来的URL) -->
    <bean id="casAuthenticationFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
        <!-- 身份认证管理器(作为用来获取用户名，根据用户名获取角色与权限) -->
        <property name="authenticationManager" ref="authenticationManager"/>
        <!-- 过滤器处理的请求地址 -->
        <property name="filterProcessesUrl" value="/login"/>
    </bean>

    <!-- 配置CAS单点退出过滤器 -->
    <bean id="singleSignOutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter"/>

    <!-- 配置spring-security退出过滤器 -->
    <bean id="logoutFilter"
          class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <!-- 配置退出成功请求地址-->
        <constructor-arg name="logoutSuccessUrl"
                         value="http://sso.pinyougou.com/logout?service=http://www.pinyougou.com"/>
        <!-- 配置退出处理器 -->
        <constructor-arg>
            <bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
        </constructor-arg>
        <!-- 配置退出的请求地址 默认为“/logout”-->
        <property name="filterProcessesUrl" value="/logout"/>
    </bean>



    <!--################# 配置认证管理器 ################-->
    <security:authentication-manager id="authenticationManager">
        <!-- 配置CAS作为认证的提供者 -->
        <security:authentication-provider ref="casAuthenticationProvider">
        </security:authentication-provider>
    </security:authentication-manager>

    <!-- 配置CAS作为认证提供者 -->
    <bean id="casAuthenticationProvider"
          class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
        <!-- 配置认证服务 -->
        <property name="authenticationUserDetailsService">
            <!-- 配置用户名包裹服务 -->
            <bean class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <!-- 配置自定义服务类 -->
                <constructor-arg ref="userDetailsService"/>
            </bean>
        </property>
        <!-- 配置服务属性 -->
        <property name="serviceProperties" ref="serviceProperties"/>
        <!-- 配置票据验证器 -->
        <property name="ticketValidator">
            <!-- 配置票据验证 -->
            <bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
                <!-- 配置CAS服务地址前缀 -->
                <constructor-arg value="http://sso.pinyougou.com"/>
            </bean>
        </property>
        <!-- 配置该客户端的key(可以随意写值) 生成ST -->
        <property name="key" value="auth_provider_key"/>
    </bean>

    <!-- 配置自定义认证服务类(获取用户的角色与权限) -->
    <bean id="userDetailsService" class="com.pinyougou.user.service.UserDetailsServiceImpl"/>

</beans>